#baseUri
{
	display:none;
}

.clickable
{
	cursor:pointer;
}

.create-new-directory
{
	margin:10px 0 0 0;
}

#fileList
{
	margin:10px 0 0 0;
}
#fileList tr
{

}

#fileList td
{
	padding:2px 5px 2px 15px;
	border-bottom: 1px solid #ddd;
	font: 400 14px/1.2 sans-serif;
}

#fileList tr:hover
{
	background-color:#f9f9ff;
}

#fileList td:hover
{
	color:#000;
}

#fileList .permission
{
	color:#999;
	font-size: 0.8em;
}

#fileList td a
{
	color:#666;
	text-decoration: none;
	font-size:12px;
}

#fileList td a:hover
{
	text-decoration: underline;
}

#fileList .clickable
{
	color:#666;
}
