'use strict'
module.exports = {
  NODE_ENV:     '"production"',
  URI_GITHUB:   '""',
  URI_TWITTER:  '""',
  SCHEME:       '"https"',
  ADDRESS:      '"YOUR_HOST"',
  PORT:         '"443"',
  API_SCHEME:   '"https"',
  API_ADDRESS:  '"YOUR_HOST"',
  API_PORT:     '"443"',
  STATIC_HOST:  '"https://YOUR_HOST"',
  STUB_HOST:    '"https://YOUR_HOST/ex/stub"',
  PATH_DOCS:    '"/docs/"',
  PATH_SWAGGER_UI: '"/swagger/ui"',
  PATH_SWAGGER_EDITOR: '"/swagger/editor"',
  PATH_SWAGGER_VIEWER: '"/openapiviewer"',
  COPYRIGHT: '"© since 2018"',
  ROLES: {
    FILEMANAGER: 1
  },
  WIKI: {
    TITLE: '"Documents"'
  },
  REDIRECT_URI: '"/"',
  SESSION_NAME: '"usid"'
}
